/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of css reset*/

*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #424242;
}

body {
    background-color: #e5e7eb;
}

.header-container {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #0e7490;
}

.header {
    justify-self: center;
    font-size: 3rem;
    font-family: 'Abril Fatface';
    color: #fff;
    margin-left: 1rem;
}

.add-new {
    margin: auto 1rem auto auto;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
    border: none;
	border-radius:1rem;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	font-weight:bold;
	padding:.6rem 2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.add-new:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.add-new:active {
	position:relative;
	top:1px;
}

/*add container*/

.add-container {
    background-color: #fff;
    padding: 1.5rem;
    display: none;
    justify-content: center;
}

fieldset {
    border: 2px solid #424242;
    position: relative;
    padding: 2.5rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;;
}

legend {
    position: absolute;
    left: 0;
    top: 0;
    height: 2rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
}

.add-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.title-container,
.author-container {
    display: grid;
    gap: .2rem;
}

.pages-container,
.is-read-container {
    place-self: center;
    grid-column: 1 / 3;
}


#book_title,
#book_author {
    width: 20rem;
}

#book_pages {
    width: 3rem;
}

.add,
.cancel {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #000 5%, #52525b 100%);
	background-color:#000;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    width: 10rem;
}

.add {
    justify-self: end;
}
.cancel {
    justify-self: start;
}

.add:hover,
.cancel:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.add:active,
.cancel:active {
	position:relative;
	top:1px;
}

/*book container*/

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    gap: 1rem;
    padding: 1rem;
}

.book-card {
    box-sizing: border-box;
    width: 20rem;
    height: 10rem;
    background-color: #f3f4f6;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    border: 1px solid #424242;
    border-radius: 1rem;
    padding: .7rem;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.book-info {
    font-size: 1rem;
    font-style: italic;
}