/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of css reset*/

*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #424242;
}

body {
    background-color: #e5e7eb;
}

.header-container {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #0e7490;
}

.header {
    justify-self: center;
    font-size: 3rem;
    font-family: 'Abril Fatface';
    color: #fff;
    margin-left: 1rem;
}

.add {
    margin: auto 1rem auto auto;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
    border: none;
	border-radius:1rem;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	font-weight:bold;
	padding:.6rem 2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.add:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.add:active {
	position:relative;
	top:1px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    gap: 1rem;
    padding: 1rem;
}

.book-card {
    box-sizing: border-box;
    width: 20rem;
    height: 10rem;
    background-color: #f3f4f6;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    box-shadow: 10px 10px 20px 0px rgba(148,148,148,1);
    border: 1px solid #424242;
    border-radius: 1rem;
    padding: .7rem;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.book-info {
    font-size: 1rem;
    font-style: italic;
}